<h2> By Capital City </h2>

<div class="row">
    <div class="col">
        <app-country-input (onEnter)="search($event)"  placeholder="Search by Capital..." ></app-country-input>
    </div>
</div>

<hr>

<div *ngIf="onError;else results" class="alert alert-danger">
    No se encontró nada con el termino {{term}}
</div>

<ng-template #results class="row">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</ng-template>