<h2> By Country </h2>

<div class="row">
    <div class="col">
        <app-country-input (onEnter)="search($event)" (onDebounce)="sugerence($event)" placeholder="Search by Country..."  ></app-country-input>
    </div>
</div>

<ul *ngIf="showSugerences" class="list-group">
    <li *ngFor="let country of countriesSugerences" class="list-group-item list-group-item-action">
        <a class="nav-link" [routerLink]="['/country', country.alpha2Code]">
            {{country.name}}
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="nav-link" (click)="search(term)" >
            buscar "{{ term }}"
        </a>
    </li>
</ul>

<hr>

<div *ngIf="onError;else results" class="alert alert-danger">
    No se encontró nada con el termino {{term}}
</div>

<ng-template #results class="row">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</ng-template>