
<h3> Search by region <small> {{ activeRegion | titlecase }}</small></h3>
<hr>

<h5>Select region</h5>

<div class="row">
    <div class="col d-flex">

        <!--  [class.btn-primary]=" region === activeRegion" -->
        <!-- [ngClass]="{
                'btn-primary' : region === activeRegion,
                'btn-outline-primary' : region !== activeRegion
             }" -->
        <button 
            *ngFor="let region of regions"
            (click)="activateRegion(region)" 
            [class]="getCSSClass(region)" 
            >{{ region | titlecase}}
        </button>
    </div>
</div>

<div #results class="row mt-4">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>