
    <h2>Search</h2>
    <hr>
  
    <ul class="list-group">
      <li routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="list-group-item">
          Search Country
        </li>
      <li routerLink="region"
          routerLinkActive="active"
          class="list-group-item">
          By Region
        </li>
      <li routerLink="capital" 
          routerLinkActive="active"
          class="list-group-item">
          By Capital
        </li>
    </ul>
