

<div *ngIf="!country;else countryTemplate" class="alert alert-fino">
    Espere por favor...
</div>

<ng-template #countryTemplate>
    <div class="row">
    <div class="col-12">
        <h1>País: {{country.name}}</h1>
    </div>


    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="country.flag" alt="country flag" class="img-thumbnail">
        </div>

        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población</strong> {{country.population}}
                </li>
                <li class="list-group-item">
                    <strong>Código numérico</strong> {{country.numericCode}}
                </li>
                <li class="list-group-item">
                    <strong>Código alpha3</strong> {{country.alpha3Code}}
                </li>
            </ul>
        </div>
    </div>

    <h3 class="my-3">Traducciones</h3>

    <div class="row">
        <div class="col d-flex justify-content-around">
            <span class="badge bg-primary"> {{ country.translations.de}} </span>
            <span class="badge bg-primary"> {{ country.translations.es}} </span>
            <span class="badge bg-primary"> {{ country.translations.fr}} </span>
            <span class="badge bg-primary"> {{ country.translations.ja}} </span>
            <span class="badge bg-primary"> {{ country.translations.it}} </span>
            <span class="badge bg-primary"> {{ country.translations.br}} </span>
            <span class="badge bg-primary"> {{ country.translations.hr}} </span>
            <span class="badge bg-primary"> {{ country.translations.fa}} </span>
            <span class="badge bg-primary"> {{ country.translations.pt}} </span>
            <span class="badge bg-primary"> {{ country.translations.nl}} </span>
        </div>
    </div>

    <!--
    <pre class="mt-5">
        {{country | json}}
    </pre>-->
</div>
</ng-template>